@import url('variables.css');

body {
  font-family: var(--font-primary);
  font-size: var(--font-size-base);
  color: var(--color-primary);
}

h1 {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
  letter-spacing: -1px;
}

p {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-normal);
  color: var(--color-secondary);
}

main {
  margin: 4.5rem 16rem 0
}

* {
  box-sizing: border-box;
}

/*-------------------------------font-----------------------------*/
.headClass {
  width: 100%;
  height: 72px;
}

.c-nav--primary--expanded {
  z-index: 1000;
  background-color: #ffffff;
  height: 4.5rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  border-bottom: 0.5px solid rgba(181, 181, 181, 0);
  transition: border-color 0.3s ease;
}

.c-nav--primary--expanded.active {
  border-color: rgba(181, 181, 181, 0.2);
}


.c-nav {
  width: 100%;
}

.c-nav__row.o-nav--primary {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  margin: 0 auto;
}

.c-extnav-level__0 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.c-slacklogo {
  margin-right: 2rem;
}

.c-nav_list.template_layout {
  margin-right: auto;
}

.c-extnav-level__0 li {
  align-items: center;
  font-family: var(--color-primary);
  font-weight: 500;
  font-size: 1rem;
  color: var(--color-primary);
}

.c-nav-signed-out {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 1rem;
  font-weight: 500;
}

.hamburger {
  background: none;
  border: none;
  cursor: pointer;
  width: 28px;
  height: 28px;
  display: none;
}


.line {
  stroke: #333;
  stroke-width: 6;
  stroke-linecap: round;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.nav-open .c-extnav-level__0,
.nav-open .c-nav-signed-out {
  display: flex;
}


.icon {
  display: none;
}

.icon-hamburger {
  display: block;
}

.nav-open .icon-hamburger {
  display: none;
}

.nav-open .icon-close {
  display: block;
}

@media (max-width: 1024px) {
  main {
    margin: 2rem;
  }

  .hamburger {
    display: block;
  }

  .c-extnav-level__0,
  .c-nav-signed-out {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 4.5rem;
    left: 0;
    width: 100%;
    background: #fff;
    border-top: 1px solid #ddd;
    align-items: flex-start;
    text-align: left;
    padding: 1.5rem;
  }

  .nav-open .c-extnav-level__0,
  .nav-open .c-nav-signed-out {
    display: flex;
  }

  .nav-open .top {
    transform: translateY(20px) rotate(45deg);
  }

  .nav-open .middle {
    opacity: 0;
  }

  .nav-open .bottom {
    transform: translateY(-20px) rotate(-45deg);
  }
}




/*------------------------------- header -----------------------------*/


.c-billboard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  grid-auto-rows: min-content;
}

.c-billboard__header {
  width: 100%;
}

.o-hero__header__headline--jumbo {
  font-family: var(--font-primary);
  letter-spacing: -.05em;
  margin-bottom: 1.5rem;
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.27;
}

.c-billboard__header__copy {
  font-family: var(--color-primary);
  font-weight: 400;
  margin-bottom: 1.5rem;
  line-height: 1.5;
  font-size: 1.2rem;
  letter-spacing: -.02em;
}


.c-billboard__header__cta--v-stack-on-small-desktop {
  width: 100%;
  margin-bottom: 2.9rem;
}

.c-button.v--primary {
  display: inline-block;
  color: #fff;
  background-color: #9220b5;
  padding: 1rem 2rem;
  border-radius: 50px;
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: 1.2rem;
}

.c-button.v--primary:hover {
  background-color: #8323a0;
}

.c-button.v--primary.v--transparent {
  color: #9220b5;
  ;
  background-color: #fff;
  border: 1.5px solid #9220b5;
  ;
}

.c-button.v--primary:nth-child(1) {
  margin-right: 0.3rem;
}

.partner_logogroup_wrap_span {
  display: block;
  margin-bottom: 1rem;
}

.o-section {
  width: 100%;
}

.o-content-container {
  width: 100%;
}

.o-section--feature-companies__logos {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.c-billboard__illustration img {
  width: 600px;
  height: auto;
}

.mo-only {
  display: none;
}

@media (max-width: 1024px) {
  .c-billboard {
    display: flex;
    flex-direction: column-reverse;
  }

  .o-hero__header__headline--jumbo {
    font-size: 2rem;
  }

  .c-billboard__header {
    text-align: center;
  }

  .c-billboard__illustration {
    text-align: center;
  }

  .partner_logogroup_wrap_span {
    display: none;
  }

  .o-section--feature-companies__logos {
    justify-content: space-around;
  }
}

@media (max-width: 480px) {
  .mo-only {
    display: block;
  }

  .pc-only {
    display: none;
  }

  .c-billboard {
    gap: 3rem;
  }

  .c-billboard__illustration img {
    max-width: 374px;
    width: 100%;
    height: auto;
  }
}


/*------------------------------- section1 -----------------------------*/

.SuperDuperHero_carousel__k38uB {
  width: 100%;
  margin-top: 3rem;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05),
    0px 0px 12px rgba(0, 0, 0, 0.04),
    0px 0px 6px rgba(0, 0, 0, 0.03),
    0px 0px 2px rgba(0, 0, 0, 0.02);
  z-index: 999;
  border-radius: 1rem;
}

.swiper-wrapper .swiper-slide {
  display: flex;
  justify-content: center;
}

video {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 1rem;
}

.custom-controls {
  margin: 1.2rem 0;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.btn.video-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(178, 178, 178, 0.5);
  border-radius: 10px;
  padding: 0.5rem 0.9rem;
}

.btn.video-btn.active {
  background-color: rgba(181, 181, 181, 0.5);
}

.btn-typography {
  font-size: 1rem;
  font-weight: 500;
  margin-left: 0.2rem;
  color: rgb(27, 27, 27);
}

/*------------------------------- section2 -----------------------------*/

.section-3 {
  margin-top: 9.5rem;
  margin-bottom: 9.5rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.S3-type-eyebrow {
  display: flex;
  margin-bottom: 1rem;
}

.S3-type-eyebrow {
  font-size: 1.35rem;
  font-weight: 700;
  color: #9220b5;
}


.section-3_header_headline {
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.5rem;
  margin-bottom: 0.9rem;
}

.section-3_header_list {
  margin-top: 1.7rem;
  line-height: 1.5;
  font-size: 1.1rem;
  color: var(--color-primary);
  font-family: var(--color-primary);
  font-weight: 400;
}


.section-3_header_list li {
  display: flex;
  gap: 0.6rem;
  align-items: center;
  margin-bottom: 0.9em;
}

.section-3_header_list li:first-child {
  align-items: flex-start;
}

.section-3_header_list li:first-child {
  align-items: flex-start;
}

.section-3_header_list li:nth-child(2) {
  align-items: flex-start;
}


.section-3_content {
  position: relative;
  width: 100%;
  max-width: 570px;
  aspect-ratio: 570 / 480;
}

.section-3_illustration img:nth-child(1) {
  position: absolute;
  top: 10%;
  left: -8%;
  width: 60%;
  mix-blend-mode: multiply;
}

.section-3_illustration img:nth-child(2) {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  mix-blend-mode: multiply;
}

.section-3_illustration img:nth-child(3) {
  position: absolute;
  top: -33%;
  left: 48%;
  width: 60%;
  mix-blend-mode: multiply;
}

.section-3_illustration img:nth-child(1).animate {
  animation: floatIn1 1s ease-in-out forwards;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.section-3_illustration img:nth-child(2).animate {
  animation: floatIn2 1s ease-in-out forwards;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.section-3_illustration img:nth-child(3).animate {
  animation: floatIn3 1s ease-in-out forwards;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.S3.animate-item {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.3s ease-out;
}

.S3.animate-item.show {
  opacity: 1;
  transform: translateY(0);
  transition-delay: calc(var(--order, 0) * 0.1s);
}


@keyframes floatIn1 {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }

  100% {
    transform: translate(23px, 0)
  }
}

@keyframes floatIn2 {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }

  100% {
    transform: translate(-39px, -22px)
  }
}

@keyframes floatIn3 {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }

  100% {
    transform: translate(-44px, 52px)
  }
}

@media (max-width: 1024px) {
  .section-3 {
    flex-direction: column;
    gap: 6rem;
    margin-top: 15rem;
    margin-bottom: 15rem;
  }

  .section-3_illustration img:nth-child(3) {
    left: 50%;
    top: -37%;
  }

  .section-3_illustration img:nth-child(2) {
    left: 51.1%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .section-3_content {
    max-width: 532px;
  }
}

@media (max-width: 480px) {
  .section-3_content {
    max-width: 458px;
  }
  .section-3 {
    margin-bottom: 0;
  }
}


/*------------------------------- section3 -----------------------------*/

.section-4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.section-4_content,
.section-4_header {
  flex: 1 1 0;       
  max-width: 50%;    
  box-sizing: border-box;
}

.section-4_illustration img {
  height: auto;
  position: absolute;
}

.section-4_header_headline {
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.5rem;
  margin-bottom: 0.9rem;
  letter-spacing: -1px;
}

.section-4_content {
  position: relative;
  width: 100%;
  max-width: 700px;
  height: 480px;
  aspect-ratio: 7/5; 

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.section-4_illustration img:nth-child(1) {
  position: absolute;
  top: 58px;
  left: 119px;
  z-index: 1;
  width: 300px;
  height: auto;
}

.section-4_illustration img:nth-child(2) {
  position: absolute;
  top: 246px;
  left: -9px;
  z-index: 1;
  width: 150px;
  height: auto;
}

.section-4_illustration img:nth-child(3) {
  position: absolute;
  top: 126px;
  left: 432px;
  z-index: 1;
  width: 150px;
  height: auto;
}

.section-4_illustration img:nth-child(4) {
  position: absolute;
  top: 297px;
  left: 230px;
  z-index: 1;
  width: 150px;
  height: auto;
}

.section-4_illustration img:nth-child(5) {
  position: absolute;
  top: -63px;
  left: 142px;
  z-index: 1;
  width: 150px;
  height: auto;
}

.section-4_illustration img:nth-child(6) {
  position: absolute;
  top: 45px;
  left: -69px;
  z-index: 1;
  width: 150px;
  height: auto;
}

.section-4_illustration img:nth-child(7) {
  position: absolute;
  top: -25px;
  left: 411px;
  z-index: 1;
  width: 150px;
  height: auto;
}

.section-4_illustration img:nth-child(8) {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  width: 450px;
  height: auto;
}

.section-4_illustration img:nth-child(9) {
  position: absolute;
  top: 104px;
  left: -42px;
  z-index: 1;
  width: 200px;
  height: auto;
}

.section-4_illustration img:nth-child(10) {
  position: absolute;
  top: 186px;
  left: 355px;
  z-index: 1;
  width: 200px;
  height: auto;
}

.section-4_illustration img:nth-child(11) {
  position: absolute;
  top: -96px;
  left: 311px;
  z-index: 1;
  width: 200px;
  height: auto;
}

.section-4_illustration img:nth-child(12) {
  position: absolute;
  top: -106px;
  left: 16px;
  z-index: 1;
  width: 200px;
  height: auto;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

#Layer_1 {
  position: absolute;
  top: 11px;
  left: 242px;
}

#Layer_1 path {
  stroke-width: 9;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
}

#Layer_2 {
  position: absolute;
  top: 42px;
  left: 359px;
}

#Layer_2 line {
  stroke-width: 8;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
}

#Layer_3 {
  position: absolute;
  top: 165px;
  left: 359px;
}

#Layer_3 path {
  stroke-width: 8;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
}

#Layer_4 {
  position: absolute;
  top: 231px;
  left: 298px;
}

#Layer_4 path {
  stroke-width: 6;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
}

#Layer_5 {
  position: absolute;
  top: 198px;
  left: 102px;
}

#Layer_5 line {
  stroke-width: 6;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
}

#Layer_6 {
  position: absolute;
  top: 37px;
  left: 50px;
}

#Layer_6 path {
  stroke-width: 8;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
}

.section-4_line.animate-2 path,
.section-4_line.animate-2 line {
  animation: draw 2s ease forwards;
}

.section-4_header_list {
  margin-top: 1.9rem;
  line-height: 1.5;
  font-size: 1.1rem;
  color: var(--color-primary);
  font-family: var(--color-primary);
}

.section-4_bottom {
  color: #1264a3;
  font-size: 1rem;
  margin-top: 2rem;
  margin-left: 11rem;
}

.section-4_bottom:after {
  content: "";
  background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M1%206a.5.5%200%200%200%200%201V6zM12.854.646a.5.5%200%200%200-.708.708l.708-.708zM18%206.5l.354.354a.5.5%200%200%200%200-.708L18%206.5zm-5.854%205.146a.5.5%200%200%200%20.708.708l-.708-.708zM1%207h16.5V6H1v1zm16.646-.854l-5.5%205.5.708.708%205.5-5.5-.708-.708zm-5.5-4.792l2.75%202.75.708-.708-2.75-2.75-.708.708zm2.75%202.75l2.75%202.75.708-.708-2.75-2.75-.708.708z%22%20fill%3D%22%231264A3%22%2F%3E%3C%2Fsvg%3E);
  width: 19px;
  height: 13px;
  margin-left: 0.3rem;
  display: inline-block;
}

.section-4_header_list li {
  display: flex;
  gap: 0.6rem;
  align-items: flex-start;
  margin-bottom: 0.9em;
}

.S4.animate-item {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.3s ease-out;
}

.S4.animate-item.show {
  opacity: 1;
  transform: translateY(0);
  transition-delay: calc(var(--order, 0) * 0.1s);
}


@media (min-width: 769px) and (max-width: 1024px) {

  .section-4_illustration img {
    width: auto;
  }

  .section-4 {
    flex-direction: column;
  }


  .section-4_illustration {
    position: absolute;
    top: 0;
    left: 84px;
  }

  .mo-only {
    display: block;
  }

  .pc-only {
    display: none;
  }

  .section-4_bottom {
    margin-top: 3rem;
    display: flex;
    justify-content: flex-end;
    gap: 0.3rem;
  }

}

@media (max-width: 768px) {
  .section-4 {
    flex-direction: column;
  }

  .section-4_illustration img {
    width: auto;
  }

  .section-4_bottom {
    margin-top: 3rem;
    display: flex;
    justify-content: flex-end;
    gap: 0.3rem;
  }

  .section-3_header,
  .section-4_header {
    max-width: 600px;
    width: 100%;
  }

  .mo-only {
    display: block;
  }

  .pc-only {
    display: none;
  }
}

@media (max-width: 768px) and (min-width: 481px) {

  .section-4_illustration {
    position: absolute;
    top: 0;
    left: 84px;
  }

  .section-4_content {
    transform: scale(1);
  }
}

@media (max-width: 480px) {
  .section-4 {
    margin-top: 0;
  }

  .section-4_illustration {
    position: absolute;
    top: 99px;
    left: -63px;
  }

  .section-4_content {
    transform: scale(0.6);
    margin-bottom: 9rem;
  }

  .section-4_bottom {
    margin-left: 0;
  }

  .section-3_header_headline,
  .section-4_header_headline {
    font-size: 2.2rem;
    line-height: 2.7rem;
  }
}



/*------------------------------- section4 -----------------------------*/

.section-5_header {
  margin: 2.5rem 0;
}

.section-5_kicker {
  margin-bottom: 1rem;
  font-size: 1.35rem;
  color: #9220b5;
  font-weight: 600;
}

.section-5_header_headline {
  margin-bottom: 1.5rem;
  font-size: 3rem;
}

.section-5_content_wrap {
  display: grid;
  grid-template-areas:
    "agent  search"
    "agent  huddle-canvas";
  grid-template-columns: 2fr 3fr;
  grid-template-rows: auto auto;
  gap: 16px;
}

.section-5_content_item {
  background: #ffffff;
  color: #fff;
  border-radius: 2rem;
  padding: 2.3rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5rem;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05),
    0px 0px 12px rgba(0, 0, 0, 0.04),
    0px 0px 6px rgba(0, 0, 0, 0.03),
    0px 0px 2px rgba(0, 0, 0, 0.02);
}

.agent {
  grid-area: agent;
}

.search {
  grid-area: search;
}

.huddle-canvas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.huddle {
  grid-column: 1;
}

.canvas {
  grid-column: 2;
}

.section-5_content_img_wrap img {
  margin: 3rem 0;
}

.section-5_content_item.agent {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ececec;
  box-shadow: none;
}

.section-5_content_text_wrap {
  display: flex;
  flex-direction: column;
}

.section-5_content_keyword_wrap {
  margin-bottom: 1rem;
  font-family: var(--font-primary);
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: -1px;
  color: var(--color-secondary);
}

.section-5_content_keyword_zwekd {
  font-family: var(--font-primary);
  font-size: 1.1rem;
  line-height: 1.3;
  color: var(--color-primary);
  font-weight: 500;
}

.section-5_content_text_wrap {
  display: flex;
  justify-content: flex-start;
}

.section-5_content_text_wrap.agent {
  margin-top: 2rem;
}

@keyframes float {
  0% {
    transform: translateY(8px);
  }

  50% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(8px);
  }
}

.section-5_img.search {
  position: relative;
  animation: float 2s ease-in-out infinite;
}

#search2 {
  position: absolute;
  top: 8.5px;
  left: 16px;
}

.section-5_img.canvas {
  position: relative;
  animation: float 2s ease-in-out infinite;
}

#canvas2 {
  position: absolute;
  top: 0;
  left: 0;
}

.section-5_img.huddle {
  position: relative;
  animation: float 2s ease-in-out infinite;
}

#huddle2 {
  position: absolute;
  top: 11px;
  left: -0.3px;
}

@media (max-width: 768px) {
  .section-5_header {
    margin-top: 10rem;
  }

  .section-5_header_headline {
    font-size: 3rem;
  }

  .section-5_content_keyword_zwekd {
    font-size: 1rem;
  }

  .section-5_content_wrap {
    display: flex;
    flex-direction: column;
  }

  .section-5_content_img_wrap {
    margin-bottom: 2rem;
  }

  .section-5_content_keyword_wrap {
    gap: 2rem;
  }

  .section-5_content_item {
    gap: 2rem;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .section-5_header {
    margin-top: 10rem;
  }

  .section-5_header_headline {
    font-size: 3rem;
  }
}

@media (max-width: 480px) {
  .section-5_header_headline {
    font-size: 2rem;

  }

  .section-5_content_item {
    gap: 0;
  }

  .section-5_content_img_wrap:nth-child(1) img {
    margin: 0;
  }
}

@media (max-width: 768px) and (min-width: 481px) {
  .section-5_content_item:nth-child(1) {
    gap: 0;
  }

  .section-5_content_img_wrap:nth-child(1) img {
    width: 300px;
    margin: 0;
  }
}



/*------------------------------- section5 -----------------------------*/

.section-6_container {
  margin: 10rem 0;
}

.section-6_header_headline {
  display: flex;
  justify-content: center;
  font-size: 2.2rem;
  margin-bottom: 7rem;
}

.section-6_cards_wrap {
  display: flex;
  margin-top: 2rem;
}

.section-6_cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
}

.section-6_card-stat {
  display: flex;
  font-size: 5.3rem;
  font-family: 'Gmarket Sans';
  font-weight: 700;
  color: #9220b5;
}

.section-6_card-text {
  margin-top: 2rem;
  font-family: var(--font-primary);
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.3;
  text-align: center;
}

.section-6_card-number {
  font-size: 5.9rem;
  font-family: 'Gmarket Sans';
  width: 2ch;
}

.S5.animate {
  opacity: 0;
  transform: translateY(90px);
  transition: all 0.6s ease-out;
}

.S5.animate.show {
  opacity: 1;
  transform: translateY(0);
}

.section-6_card-text.only-mo {
  display: none;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .section-6_header_headline {
    margin-bottom: 5rem;
  }
}

@media (max-width: 768px) {
  .section-6_header_headline {
    margin-bottom: 5rem;
  }
}

@media (max-width: 768px) and (min-width: 481px) {

  .section-6_card-number,
  .section-6_card-percent {
    font-size: 5rem;
  }

  .section-6_card-text {
    font-size: 0.95rem;
  }

  .section-6_card-text.only-mo {
    display: block;
  }

  .section-6_card-text.only-pc {
    display: none;
  }
}

@media (max-width: 480px) {
  .section-6_header_headline {
    font-size: 1.5rem;
    margin-bottom: 3.4rem;
  }

  .section-6_card-number,
  .section-6_card-percent {
    font-size: 3.2rem;
  }

  .section-6_card-text {
    font-size: 0.85rem;
  }

  .section-6_cards_wrap {
    gap: 1rem;
  }
}


/*------------------------------- section6 -----------------------------*/

.section-7_container {
  margin: 8rem 0;
}

.section-7_header_headline {
  display: flex;
  justify-content: center;
  font-size: 2.2rem;
  margin-bottom: 3rem;
}

.section-7_content_item_wrap {
  display: flex;
  gap: 1.7rem;
}

.section-7_content_item {
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  padding: 0.7rem;
  background: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05),
    0px 0px 12px rgba(0, 0, 0, 0.04),
    0px 0px 6px rgba(0, 0, 0, 0.03),
    0px 0px 2px rgba(0, 0, 0, 0.02);

  transition:
    transform 0.4s cubic-bezier(0.33, 1, 0.68, 1),
    box-shadow 0.5s ease,
    background-color 0.3s ease;
}

.section-7_content_item_imgbox {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.section-7_content_item_imgbox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-7_text_wrap {
  margin-top: 0.5rem;
  padding: 0.3rem;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.section-7_text_head {
  font-family: var(--font-primary);
  font-size: 0.9rem;
  margin-top: 0.5rem;
}

.section-7_text {
  margin-top: 2rem;
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 2rem;
  letter-spacing: -1px;
}

.section-7_text_foot_wrap {
  display: flex;
  margin-bottom: 0.3rem;
  height: 3rem;
  margin-top: auto;
  align-items: flex-end;
}

.section-7_text_foot {
  font-size: 0.9rem;
  color: #1264a3;
  font-weight: 700;
}

.section-7_text_foot::after {
  content: "";
  background-image: url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMjUgMTQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgc3Ryb2tlPSIjMTI2NEEzIiBzdHJva2Utd2lkdGg9IjIiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIj48cGF0aCBkPSJNMS41NDggN2gyMS45MDQiLz48cGF0aCBzdHJva2UtbGluZWpvaW49InJvdW5kIiBkPSJNMTcgMWw3IDYtNyA2Ii8+PC9nPjwvc3ZnPg==);
  width: 25px;
  height: 14px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.section-7_content_item:hover {
  transform: translateY(-5px) scale(1.03);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  background-color: #f9f9f9;
}

.section-7_content_item_imgbox img {
  transition:
    transform 0.9s cubic-bezier(0.33, 1, 0.68, 1),
    filter 0.7s ease;
}

.section-7_content_item:hover .section-7_content_item_imgbox img {
  transform: scale(1.1);
  filter: brightness(0.9);
}

@media (max-width: 1024px) and (min-width: 481px) {
  .section-7_content_item_wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .section-7_header_headline {
    font-size: 1.5rem;
  }

  .section-7_content_item_wrap {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}


/*------------------------------- section7 -----------------------------*/

.section-8_container {
  background: #661280;
  padding: 8rem 0;
}

.section-8_header_headline {
  display: flex;
  color: #fff;
  font-family: var(--font-primary);
  font-weight: 900;
  justify-content: center;
  font-size: 3rem;
}

.section-8_content_btn_wrap {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  color: #fff;
  font-size: 1.3rem;
  font-family: var(--font-primary);
  font-weight: 600;
  gap: 1rem;
}

.section-8_btn1 {
  background: #fff;
  color: #661280;
  padding: 1.2rem 2rem;
  border-radius: 0.5rem;
  font-weight: 700;
  transition:
    transform 0.3s ease,
    box-shadow 0.36s ease,
    background-color 0.3s ease,
    color 0.3s ease;
}

.section-8_btn1:hover {
  transform: translateY(-3px) scale(1.04);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  background-color: #f9f2fb;
  color: #4e0e60;
}

.section-8_btn2 {
  border: 1.5px solid #fff;
  background: #661280;
  padding: 1.2rem 2rem;
  border-radius: 0.5rem;
  transition:
    transform 0.3s ease,
    box-shadow 0.36s ease,
    background-color 0.3s ease,
    color 0.3s ease;
}

.section-8_btn2:hover {
  transform: translateY(-3px) scale(1.04);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.section-8_header_headline {
  font-weight: 600;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .section-8_header_headline {
    font-size: 2.5rem;
  }
}

@media (max-width: 768px) and (min-width: 481px) {
  .section-8_header_headline {
    font-size: 2rem;
  }

  .section-8_btn1,
  .section-8_btn2 {
    font-size: 1rem;
    padding: 1rem 2rem;
  }

  .section-8_content_btn_wrap {
    gap: 0.5rem;
  }
}

@media (max-width: 480px) {
  .section-8_header_headline {
    font-size: 1.3rem;
  }

  .section-8_btn1,
  .section-8_btn2 {
    font-size: 0.8rem;
    padding: 1rem 2rem;
  }

  .section-8_content_btn_wrap {
    gap: 0.5rem;
  }
}


/*------------------------------- section8 -----------------------------*/


.footer {
  display: flex;
  margin: 4rem 16rem;
  justify-content: space-between;
  padding: 3rem;
}

.footer-content-left {
  display: flex;
  flex-direction: column;
}

.footer-sns-list {
  display: flex;
  gap: 0.8rem;
  margin-top: 2rem;
}

.footer-menu-wrap {
  display: flex;
  gap: 7rem;
}

.locale-new-switcher {
  margin-top: 4rem;
  display: inline-flex;
  border: 0.2px solid #b9b9b9;
  padding: 0.5rem;
  width: fit-content;
  border-radius: 0.3rem;
  gap: 0.5rem;
  font-weight: 500;
}

.footer_legal-text {
  margin-top: 1rem;
  font-size: 0.9rem;
  line-height: 1.5rem;
  color: #505050;
}

.footer-menu-list-wrap {
  display: flex;
  flex-direction: column;
  line-height: 1.8rem;
}

.footer-menu-list-item p {
  font-size: 1rem;
  font-weight: 700;
}

.footer-menu-list-item span {
  font-size: 0.9rem;
}

.toggleicon {
  display: none;
}

.footer-menu {
  display: flex;
  justify-content: space-between;
}

.footer-menu-list-wrap {
  flex: 1;
}

.footer-menu-list-item p {
  margin: 0;
  font-weight: 600;
}

.only-mo {
  display: none;
}

@media (max-width: 1024px) {
  .footer {
    margin: 3rem 0 0;
    padding: 2rem;
    flex-direction: column-reverse;
    gap: 3rem;
  }

  .footer-menu-wrap {
    flex-direction: column;
    gap: 1.5rem;
  }

  .footer-menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .toggleicon {
    display: block;
  }

  .submenu {
    display: none;
  }

  .footer-menu-list-item.active .submenu {
    display: block;
    margin-top: 1rem;
  }

  .toggleicon svg {
    transition: transform 0.3s ease;
  }

  .footer-menu-list-item.active .toggleicon svg {
    transform: rotate(90deg);
  }

  .only-pc {
    display: none;
  }

  .only-mo {
    display: block;
  }
}